// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import "~element-ui/packages/theme-chalk/src/index";

body {
    font-family: $font-family-sans-serif;
}

.color-success {
    color: $--color-success;
}
.color-warning {
    color: $--color-warning;
}
.color-danger {
    color: $--color-danger;
}
.color-info {
    color: $--color-info;
}
